name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build step (fake)
        run: echo "Symulacja kroku build – wszystko OK"

      - name: Test step (fake)
        run: echo "Symulacja testów – wszystkie testy zaliczone"
